

<section>

    <center class="p-5"><a href="/admin/addproduct"><button class="btn btn-success">Add product</button></a></center>
    
    <div class="container">
        <table class="table mt-5" id="myTable">
            <thead>
                <tr>
                    <th scope="col">No.</th>
                    <th scope="col">Product Name</th>
                    <th scope="col">Brand</th>
                    <th scope="col">Category</th>
                    <th scope="col">Size</th>
                    <th scope="col">Stock</th>
                    <th scope="col">Price</th>
                    <th scope="col">Status</th>
                    <th scope="col">Edit</th>
                    <th scope="col">Delete</th>
                </tr>
            </thead>
            <tbody>
                {{#each product}}
                <tr>
                    <td>{{inc @index}}</td>
                    <td>{{this.product_name}}</td>
                    <td>{{this.brand_name}}</td>
                    <td>{{this.category}}</td>
                    <td>{{this.size}}</td>
                    <td>{{this.quantity}}</td>
                    <td>₹ {{this.price}}</td>
                    {{#if this.blocked}}
                    <td>
                        <label class="switch">
                            <a href="/admin/changestatus?id={{this._id}}" onclick="return confirm('Do you want to enable the product : {{this.product_name}}  ?')"><input type="checkbox"><span class="slider round"></span></a>
                        </label>
                    </td>
                    {{else}}
                    <td>
                        <label class="switch">
                            <a href="/admin/changestatus?id={{this._id}}" onclick="return confirm('Do you want to disable the product : {{this.product_name}}  ?')"><input type="checkbox" checked><span class="slider round"></span></a>
                        </label>
                    </td>
                    {{/if}}
                    <td><a href="/admin/editproduct?id={{this._id}}" class="btn btn-primary">Edit</a></td>
                    <td><a href="/admin/deleteproduct?id={{this._id}}" class="btn btn-danger" onclick="return confirm('Do you want to delete user : {{this.Name}}  ?')">Delete</a></td>
                </tr>
                {{/each}}
            </tbody>
        </table>
    </div>
</section>




<script>
    $(document).ready( function () {
    $('#myTable').DataTable();
} );
</script>

<style>
.switch {
  position: relative;
  display: inline-block;
  width: 60px;
  height: 34px;
}

.switch input { 
  opacity: 0;
  width: 0;
  height: 0;
}

.slider {
  position: absolute;
  cursor: pointer;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background-color: #ccc;
  -webkit-transition: .4s;
  transition: .4s;
}

.slider:before {
  position: absolute;
  content: "";
  height: 26px;
  width: 26px;
  left: 4px;
  bottom: 4px;
  background-color: white;
  -webkit-transition: .4s;
  transition: .4s;
}

input:checked + .slider {
  background-color: #2196F3;
}

input:focus + .slider {
  box-shadow: 0 0 1px #2196F3;
}

input:checked + .slider:before {
  -webkit-transform: translateX(26px);
  -ms-transform: translateX(26px);
  transform: translateX(26px);
}

/* Rounded sliders */
.slider.round {
  border-radius: 34px;
}

.slider.round:before {
  border-radius: 50%;
}
</style>

