

<section>

    <center class="p-5"><a href="#myModal" class="" data-toggle="modal"><button class="btn btn-success">Add Coupon</button></a></center>
    
    <div class="container">
        <table class="table mt-5" id="myTable">
            <thead>
                <tr>
                    <th scope="col">Coupon Code</th>
                    <th scope="col">Minimum Amount</th>
                    <th scope="col">Discount</th>
                    <th scope="col">Valid From</th>
                    <th scope="col">Valid Till</th>
                    <th scope="col">Edit</th>
                    <th scope="col">Delete</th>
                </tr>
            </thead>
            <tbody>
                {{#each coupons}}
                <tr>
                    <td>
                        {{this.coupon_code}}
                    </td>
                    <td>{{this.minamount}}</td>
                    <td>{{this.discount}}</td>
                    <td>{{this.validfrom}}</td>
                    <td>{{this.validtill}}</td>
                    <td><a href="/admin/editcoupon?id={{this._id}}" class="btn btn-primary">Edit</a></td>
                    <td><a href="/admin/deletecoupon?id={{this._id}}" class="btn btn-danger">Delete</a></td>
                </tr>
                {{/each}}
            </tbody>
        </table>
    </div>
</section>



<!-- Modal HTML -->
<div id="myModal" class="modal fade">
	<div class="modal-dialog modal-login">
		<div class="modal-content">
			<div class="modal-header">				
				<h4 class="modal-title">Add Coupon</h4>
				<button type="button" class="close" data-dismiss="modal" aria-hidden="true">&times;</button>
			</div>
			<div class="modal-body">
				<form action="/admin/addcoupon" method="post">
					<div class="form-group">
						<i class="fa fa-plus-square-o"></i>
						<input name="coupon_code" id="coupon_code" type="text" class="form-control" placeholder="Enter Coupon Code" required="required">
					</div>
          <div class="form-group">
						<i class="fa fa-plus-square-o"></i>
						<input name="minamount" id="minamount" type="number" class="form-control" placeholder="Minimum Amount" required="required">
					</div>

          <div class="form-group">
						<i class="fa fa-plus-square-o"></i>
						<input name="discount" id="discount" type="number" class="form-control" placeholder="Discount" required="required" min="1" max="100">
					</div>

          <div class="form-group">
						<span>Valid From</span>
						<input name="validfrom" id="validfrom" type="date" class="form-control" required="required">
					</div>
                    <div class="form-group">
						<span>Valid Till</span>
						<input name="validtill" id="validtill" type="date" class="form-control" required="required">
					</div>
					<div class="form-group">
						<input type="submit" class="btn btn-primary btn-block btn-lg" value="Add New Coupon">
					</div>
				</form>
			</div>
		</div>
	</div>
</div>     





<script>
    $(document).ready( function () {
    $('#myTable').DataTable();
} );
</script>

<style>
.switch {
  position: relative;
  display: inline-block;
  width: 60px;
  height: 34px;
}

.switch input { 
  opacity: 0;
  width: 0;
  height: 0;
}

.slider {
  position: absolute;
  cursor: pointer;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background-color: #ccc;
  -webkit-transition: .4s;
  transition: .4s;
}

.slider:before {
  position: absolute;
  content: "";
  height: 26px;
  width: 26px;
  left: 4px;
  bottom: 4px;
  background-color: white;
  -webkit-transition: .4s;
  transition: .4s;
}

input:checked + .slider {
  background-color: #2196F3;
}

input:focus + .slider {
  box-shadow: 0 0 1px #2196F3;
}

input:checked + .slider:before {
  -webkit-transform: translateX(26px);
  -ms-transform: translateX(26px);
  transform: translateX(26px);
}

/* Rounded sliders */
.slider.round {
  border-radius: 34px;
}

.slider.round:before {
  border-radius: 50%;
}
</style>

